@using Microsoft.AspNetCore.Identity
@using System.Security.Claims
@inject SignInManager<ApplicationUser> SignInManager
@inject UserManager<ApplicationUser> UserManager

@{
    var user = await UserManager.GetUserAsync(User);
    var gender = user?.Gender;
    string imagePath = "";
    if (gender.HasValue)
    {
        imagePath = gender switch
        {
            PageTurner.Enums.Gender.Male => "/images/Authors/defaultMale.jpg",
            PageTurner.Enums.Gender.Female => "/images/Authors/defaultFemale.jpg",
        };
    }
}

<nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3">
    <div class="container-fluid">
        <a class="navbar-brand" asp-area="" asp-controller="Home" asp-action="Index">PageTurner</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target=".navbar-collapse" aria-controls="navbarSupportedContent"
        aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="navbar-collapse collapse d-sm-inline-flex justify-content-between">
            <ul class="navbar-nav flex-grow-1">
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle"
                       href="#"
                       id="categoriesDropdown"
                       role="button"
                       data-bs-toggle="dropdown"
                       aria-expanded="false">
                        Categories
                    </a>
                    @await Component.InvokeAsync("CategoriesMenu")
                </li>
                <li class="nav-item">
                    <a class="nav-link text-dark" asp-area="" asp-controller="Authors" asp-action="Index">Authors</a>
                </li>
                @if(User.IsInRole("Admin"))
                {
                    <li class="nav-item">
                        <a class="nav-link text-dark" asp-area="" asp-controller="Roles" asp-action="Index">Roles</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link text-dark" asp-controller="Account" asp-action="AddAdmin">Add Admin</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link text-dark" asp-controller="DashBoard" asp-action="Index">dash board</a>
                    </li>
                }            
            </ul>
            <ul class="navbar-nav ml-auto">
                <a asp-controller="Cart" asp-action="Index" class="nav-link">
                    <i class="fas fa-shopping-cart"></i>
                    Basket <span class="badge bg-danger" id="cartCount">0</span>
                </a>
                @if (SignInManager.IsSignedIn(User))
                {
                    <div class="dropdown ms-auto">
                        <button class="btn btn-secondary dropdown-toggle" type="button" id="profileDropdown" data-bs-toggle="dropdown" aria-expanded="false">
                            <img src="@imagePath" class="rounded-circle" alt="User" width="30">
                            @User.Identity.Name
                        </button>
                        <ul class="dropdown-menu dropdown-menu-end" aria-labelledby="profileDropdown">
                            <li><a asp-controller="Profile" asp-action="Index" class="dropdown-item">Profile</a></li>
                            <li><a class="dropdown-item">Settings</a></li>
                            <li><hr class="dropdown-divider"></li>
                            <li><a asp-controller="Account" asp-action="Logout" class="dropdown-item text-danger">Logout</a></li>
                        </ul>
                    </div>
                }
                else
                {
                    <li class="nav-item">
                        <a class="nav-link" asp-controller="Account" asp-action="Register">
                            Register
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" asp-controller="Account" asp-action="Login">
                            Login
                        </a>
                    </li>
                }
            </ul>
        </div>
    </div>

</nav>

<style>
    .cart-icon {
        font-size: 24px; 
        color: #007bff; 
        transition: transform 0.3s ease, color 0.3s ease;
        margin-right: 20px;
    }

        .cart-icon:hover {
            color: #ff5722; 
            transform: scale(1.2);
            cursor: pointer;
        }
</style>

<script>
    function updateCartCount() {
        fetch('/Cart/GetCartCount')
            .then(response => response.json())
            .then(data => {
                document.getElementById('cartCount').textContent = data.count;
            });
    }

    document.addEventListener("DOMContentLoaded", function () {
        updateCartCount();
    });
</script>
