@using PageTurner.Models.ViewModels
@model PageTurner.Models.ViewModels.BookListViewModel

@{
    ViewData["Title"] = "Index";
}

<h1>All Books</h1>

<div class="row">
    @if (User.IsInRole("Admin"))
    {
        <a asp-controller="Books" asp-action="Add" class="btn btn-primary btn-success">Add new Book</a>
    }

    @foreach (var item in Model.Books)
    {
        <partial name="_BookCard" model="item" view-data='new ViewDataDictionary(ViewData){{"isAdmin",true}}'/>
        @* Alternatively, you can use the asynchronous helper:
           @await Html.PartialAsync("_BookCard", item)
        *@
    }

    @await Html.PartialAsync("_PaginationNav", new PagintionViewModel { CurrentPage = Model.CurrentPage, TotalPages = Model.TotalPages,ControllerName = "Books",ActionName = "Index" })
</div>
