@model IEnumerable<PageTurner.Models.Author>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

@if (User.IsInRole("Admin"))
{
    <p>
        <a asp-action="Create">Create New</a>
    </p>
}

<div class="container mt-5">
    <div class="row"">
        @foreach(var author in Model)
        {
            @await Html.PartialAsync("_AuthorCard", author)
        }
    </div>
</div>